{{#each songs as |song|}}

  <!-- {{> partial}} -->
    <div data-id="{{song.id}}" class='row song'>
      <div class='col-lg-4 text-center'>
        {{song.name}}
      </div>
      <div class='col-lg-4 text-center'>
          {{song.artist}}
      </div>
      <div class='col-lg-3 text-center'>
          {{song.runtime}}
      </div>
    </div>
{{/each}}
