$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url("https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Roboto");
$primary-color: #ff7833;
$song-seperater: #f2f2f2;
$header-color: #fff;

form {
  margin-bottom: 20px;
  text-align: center;

  legend {
    border-bottom: 0;
  }
}

#icons {
  color: $primary-color;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 200%;
}

.view {
  font-family: 'Roboto', cursive;

  .row {
    border-bottom: 1px solid $song-seperater;
    margin-bottom: 10px;
  }
}

.headerz {
  font-family: 'Roboto', cursive;
  margin-bottom: 10px;
}

.sound-board {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.navbar {
  margin-bottom: 0;
}

.sign-up-container {
  margin-top: 10%;
  width: 50%;

  .auth-header {
    background-color: $primary-color;
    border-radius: 5px;
    color: $header-color;
    // height: 70%;
  }

  input {
    margin-bottom: 3%;
    width: 100%;
  }
}

#sign-up-submit {
  width: 30%;
}

.navi {
  height: 60px;
}

.navbar-fixed-bottom {
  margin-bottom: 1px;
}

.jumbotron {
  margin-bottom: 0;
  // background-image: url('http://esq.h-cdn.co/assets/cm/15/06/54d3cdbba4f40_-_esq-01-bar-lgn.jpg');
  // background-size: cover;
  // color: $header-color;
}

.add-animation {
  background-color: green;
  color: $header-color;
  border-radius: 9px;
  position: absolute;
}
